@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
html, body {
	margin: 0;
	padding: 0;
	font-family: 'NEXON Lv1 Gothic OTF';
}

body {
	text-align: center;
	font-size: 18px;
}

p {
	margin: 0 10px 10px
}

a {
	padding: 5px;
	text-decoration: none;
	color: #000000;
}

a#maintext:link {
	color: #000000;
	font-size: 40px;
	text-decoration: none;
	text-align:center;
	font: serif;
	margin:40px 0 40px 0;
}

/**background: #fff url('../image/board_header.png');**/
div#header {
	background-color: #FFFFFF;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100px;
}
div#header h1 {
	height: 100px;
	line-height: 100px;
	padding-left: 10px;
	text-align: center;
}

div#mainlogo{
	text-align: center;
    margin: 50px auto 0 auto;
    width: 80%;
}

/***************** menu start****************/
/***************** menu end****************/
div#container {
	width:100%;
}

div#content p {
	line-height: 1.4
}

div#navigation {
	background: #81d8d0;
}

div#navigation {
	margin-top: 60px;
	margin-bottom: 10px;
}

div#navigation ul {
	align-content: center;
	list-style-type: none;
}

div#navigation li {
	margin: 5px 30px 0 50px;
	font-size: 10px;
	float: left;
}

div#navigation p {
	margin-top: 20px;
	margin-left: 15px
}
/*
div#navigation{float:left;width:150px;height:350px;margin-left:-700px}
*/
div#navigation {
	width: 100%;
	height: 20px;
	font-size: 10px;
}
table#boardmaintop{
	width: 300px;
	font-size: 13px;
}

div#mainbanner_bottom_container{
	padding-top: 100px;
}
/*
category
*/
div#category_body{
	width: 100%;
	height:400px;
	display: flex;
}
div#category_container{
	width: 100%;
	height:400px;
	display: flex;
}
div#category_content{
	width: 100%;
	height:400px;
	display: flex;
}
#category_content ul{
	font-family: 'Anton', sans-serif;
	font-weight: 700;
	list-style:none;
	display: flex;
	padding: 0px;
	width: 100%;
}
#category_content li{
	display: flex;
}

div#category_body{
	padding-top: 20px;
}

li#ca_all {
	font-size: 60px;
	position: relative;
	text-align: center;
	color: white;
}

li#ca_ring {
	font-size: 60px;
	position: relative;
	text-align: center;
	color: white;
}

li#ca_necklaces {
	font-size: 35px;
	position: relative;
	text-align: center;
	color: white;
}

li#ca_earings {
	font-size: 40px;
	position: relative;
	text-align: center;
	color: white;
}

li#ca_braclet {
	font-size: 40px;
	position: relative;
	text-align: center;
	color: white;
}

.categorytext {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ca_image {
    filter: brightness(1);
}
 
.ca_image:hover {
    filter: brightness(0.5);
}
/*
div#extra{background:#CCC8B3;}
*/
div#footer {
	background: #81d8d0;
	align-self: baseline;
}

div#footer {
	clear: left;
	width: 100%;
	height: 100px;
}

div#footer p {
	margin: 0;
	padding-top:30px;
	padding-bottom:20px;
	font-size: 15px;
}

div#container {
	width: 80%;
	margin: 0 auto
}

/*
div#wrapper{float:left;width:100%} #7DE3EB
margin-right: 100px;
*/
div#wrapper {
	
	width: 100%
}

div#content {
	margin: 0
}

table#boardlist{
	align-content: center;
	margin: 0 200px 0 0
}
/*
board
*/
